<div class="pagination_wrapper">
    <div class="pagination">
      <div class="button_back">
        <button class="fa-solid fa-backward btn_paginate" @click="onClickBackPageNumber"></button>
      </div>
      <div class="paginate">
        <span v-for="(paginate, index) of totalPaginate" :key="index" @click="onUpdatePageNumber(paginate)" :class="{active_current_page: paginate == internalPageNumber}">{{paginate}}</span>
      </div>
      <div class="button_next">
        <button class="fa-solid fa-forward btn_paginate" @click="onClickNextPageNumber"></button>
      </div>
    </div>
  </div>
