<div class="container_wrapper">
    <div class="container">
        <div class="search_bar_content">
            <input type="text" name="searchCountriesCatalog" placeholder="Search.." class="search_input">
        </div>
        <div class="countries_catalog_content">
            <div class="countries_catalog_card">
                <div class="countries_img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_Cambodia.svg/640px-Flag_of_Cambodia.svg.png"
                        alt="">
                </div>
                <div class="border_solide"></div>
                <div class="countries_info_wrapper">
                    <div class="countries_label">
                        <label for="Country Name">Country Name: </label>
                        <div class="countries_info view_detail">
                            <span>Cambodia Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur harum dolor
                                deserunt nisi ea totam quidem libero repellat nobis.</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Country Code(CCA1):">Country Code(CCA1): </label>
                        <div class="countries_info">
                            <span>Cambodia Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur harum dolor
                                deserunt nisi ea totam quidem libero repellat nobis.</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Country Code(CCA2)">Country Code(CCA2): </label>
                        <div class="countries_info">
                            <span>Cambodia Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur harum dolor
                                deserunt nisi ea totam quidem libero repellat nobis.</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Native Country Name:">Native Country Name: </label>
                        <div class="countries_info">
                            <span>Cambodia Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur harum dolor
                                deserunt nisi ea totam quidem libero repellat nobis.</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Alternative Country Name">Alternative Country Name: </label>
                        <div class="countries_info">
                            <span>Cambodia Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur harum dolor
                                deserunt nisi ea totam quidem libero repellat nobis.</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Country Spelling Code">Country Spelling Code: </label>
                        <div class="countries_info">
                            <span>Cambodia Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur harum dolor
                                deserunt nisi ea totam quidem libero repellat nobis.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination />
    </div>
</div>