<div class="container_wrapper">
    <div class="container">
        <div class="search_bar_content">
            <input type="text" v-model="searchCountryCatalog" name="searchCountryCatalog" placeholder="Search.." class="search_input">
        </div>
        <div class="sort_container">
            <select v-model="sortBy" name="sortCounties">
                <option value="asc">ASC</option>
                <option value="dsc">DSC</option>
            </select>
        </div>
        <div class="countries_catalog_content">
            <div class="countries_catalog_card" v-for="(item, index) of handleSelectItemBaseOnPageNumber" :key="index" @click="onClickGetCountryDetail(item)">
                <div class="countries_img">
                    <img :src="item.flag" :alt="item.flag">
                </div>
                <div class="border_solide"></div>
                <div class="countries_info_wrapper">
                    <div class="countries_label">
                        <label for="Country Name">Country Name: </label>
                        <div class="countries_info view_detail" @click="onClickOpenPopupCountryDetail()">
                            <span>{{item.countryName}}</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Country Code(CCA2):">Country Code(CCA2): </label>
                        <div class="countries_info">
                            <span>{{item.countryCodeCCA2}}</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Country Code(CCA3)">Country Code(CCA3): </label>
                        <div class="countries_info">
                            <span>{{item.countryCodeCCA3}}</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Native Country Name:">Native Country Name: </label>
                        <div class="countries_info">
                            <span>{{item.nativeCountryName}}</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Alternative Country Name">Alternative Country Name: </label>
                        <div class="countries_info">
                            <span>{{item.alternativeCountryName}}</span>
                        </div>
                    </div>
                    <div class="countries_label">
                        <label for="Country Spelling Code">Country Spelling Code: </label>
                        <div class="countries_info">
                            <span v-for="(spellingCode) of item.countrySpellingCode">{{spellingCode[0]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination
            :items="countriesCatalogItems"
            :pageNumber="pageNumber"
            :pageSize="pageSize"
            @update:pageNumber="updatePageNumber"
        />
    </div>
    <span class="no_data_content" v-if="handleSelectItemBaseOnPageNumber.length == 0">No Data</span>
</div>
<PopupCountriesCataLog @closePopup="closePopup" :class="{activePopup: isShowPopupDetail}" :detailItems="countriesCatalogDetail"/>
